$for(sections)$
  $if(isPrivate)$

  $else$

  <div class="section $url$" id="$url$">
  <div class="left-column">
    <h2>$title$</h2>
  </div>

  <div class="column $url$">
    
    $if(isPub)$

    <ul>
      $for(pubs)$
      <li>
      <strong>$title$</strong>
      <div>
	<a href="$urlPaper$"><button>Preprint</button></a>
	<input class="pub abstract" id="abstract$label$" type="checkbox"d>
	<label for="abstract$label$"><button>Abstract</button></label>
	<input class="pub bib" id="bib$label$" type="checkbox"d>
	<label for="bib$label$"><button>BibTex</button></label>
      </div>
      <a href="$urlConf$">$conference$</a>
      $if(accept)$
      <i>(acceptance ratio $accept$)</i>
      $endif$
      <br>
      with $authors$
      </br>
      </br>
      $body$
      </li>
      $endfor$
    </ul>

    $else$

    $body$

    $endif$

  </div>
  </div>
  $endif$
 $endfor$