$for(sections)$
  $if(isPrivate)$

  $else$

  <div class="section $url$" id="$url$">
  <div class="left-column">
    <h2>$title$</h2>
  </div>

  <div class="column $url$">
    
    $if(isPub)$

    <ul>
      $for(pubs)$
      <li>
      <strong>$title$</strong>
      <div id="$label$">
	<a href="$urlPaper$"><button>Preprint</button></a>
	<input class="pub abstract" id="abstract$label$" type="checkbox">
	<button><label for="abstract$label$" class="toggle-lbl">Abstract</label></button>
	<input class="pub bib" id="bib$label$" type="checkbox">
	<button><label for="bib$label$" class="toggle-lbl">BibTex</label></button>
	<br/>
	<a href="$urlConf$">$conference$</a>
	$if(accept)$
	<i>(acceptance ratio $accept$)</i>
	$endif$
	<br>
	with $authors$
	$body$
      </div>
      </li>
      $endfor$
    </ul>

    $else$

    $body$

    $endif$

  </div>
  </div>
  $endif$
 $endfor$